@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.btn {
  background: linear-gradient(
    90.21deg,
    rgba(18, 8, 93, 0.5) -5.91%,
    rgba(50, 92, 171, 0.5) 111.58%
  );
  border: 1px solid rgba(0, 0, 0, 0.5);
} */

.font-style {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.47;
  letter-spacing: 0.05em;
}

.banner {
  margin-top: 0;
  min-height: 675px;
  padding: 100px 0 100px 0;
  background-image: url("/home8.jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner img {
  width: 60vw;
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.anim {
  opacity: 0;
  transform: translateY(100px);
  animation: moveup 1s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.content__section__img {
  height: 700px;
  margin: 20px;
  /* padding: 100px 0 100px 0; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/NormalVision.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Services CSS */

.proj-imgbx {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  /* margin-bottom: 24px; */
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #1e141a -5.91%, #434344 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: white;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: white;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.items {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.item {
  min-width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
  text-align: center;
  font-size: 24px;
  opacity: 0;
  position: absolute;
}

.item.active {
  opacity: 1;
}

.btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

/* Navbar CSS */
/* General styles */
.header {
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 40;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.container-fluid {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-link {
  margin-right: 3.5rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  font-size: 18px;
}

.text-transition {
  color: black;
  transition: color 0.3s ease;
}
.text-transition:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.nav-link:hover {
  color: gray;
  text-decoration: underline;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Dropdown CSS */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > * {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > *:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Contact form css */

.wrapper {
  position: relative;
  width: 450px;
  /* max-width: 400px; */
  height: inherit;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  /* backdrop-filter: blur(20px); */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 1.75em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.text-form {
  font-size: 1em;
  color: #162938;
  font-weight: 500;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.icon {
  position: absolute;
  right: 8px;
  line-height: 37px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #001d75;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.btn:disabled {
  cursor: not-allowed;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #001d75;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.bg-img {
  margin-top: 0;
  min-height: 675px;
  padding: 100px 0 100px 0;
  background-image: url("/home8.jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-banner {
  margin-top: 0;
  min-height: 625px;
  padding: 200px 0 100px 0;
  background-image: url("/optase-banner.webp");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Responsive styles */
@media (max-width: 1100px) {
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    /* height: 44vh; */
    transform: translateY(-300%);
    transition: transform 0.5s ease;
    z-index: 50;
  }

  .nav-open {
    padding: 0 20px;
    transform: translateX(0);
  }

  .nav-link {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger-close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 60;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-content {
    display: none;
    position: static;
    background-color: white;
    width: 100%;
    box-shadow: none;
  }

  .dropdown-open .dropdown-content {
    display: block;
  }
}

@media (max-width: 768px) {
  .banner img {
    width: 100vw;
  }
  .wrapper {
    width: 350px;
  }

  .items {
    height: 680px;
  }
}

.hylo-relief-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.hylo-relief-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.info-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  position: relative;
}

.image-box {
  flex: 0 1 300px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
}

.image-container .main-image {
  max-width: 120%;
  height: auto;
  border-radius: 10px;
}

.image-container .top-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 110%;
  height: auto;
  border-radius: 10px;
}

.info-box {
  padding: 20px;
  background-color: #ffffff;
  text-align: left;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
  color: #031e8d;
  margin-bottom: 10px;
  font-family: serif;
  font-size: 20px;
  font-weight: 700;
}

.info-box p {
  color: #474646;
}

.learn-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000980;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.learn-more-button:hover {
  background-color: #0b006e;
}

.image-box::before,
.image-box::after,
.info-box::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #160095;
}

#box1::before {
  top: 50%;
  left: 100%;
  width: calc(50% + 500px);
  height: 1px;
  transform: translateY(-50%);
}

#box1::after {
  top: 50%;
  right: 50%;
  height: calc(100% + 150px);
  width: 1px;
  transform: translateX(50%);
}

#box2::before {
  top: 50%;
  left: 100%;
  width: calc(50% + 500px);
  height: 1px;
  transform: translateY(-50%);
}

#box2::after {
  bottom: 50%;
  right: 50%;
  height: calc(100% + 350px);
  width: 1px;
  transform: translateX(50%);
}

#box3::after {
  top: 50%;
  left: 50%;
  height: calc(100% + 150px);
  width: 2px;
  transform: translateX(-50%);
}

#box4::before {
  top: 50%;
  left: 100%;
  height: 2px;
  transform: translateY(-50%);
}

#box4::after {
  bottom: 50%;
  right: 50%;
  height: calc(100% + 150px);
  width: 2px;
  transform: translateX(-50%);
}

.product-slider {
  width: 100%;
  margin: 0 auto;
}

.product-card {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
  max-height: 800px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
  font-family: serif;
  font-weight: 600;
}

.product-card p {
  font-size: 1em;
  color: #555;
}

.product-card button {
  background-color: #002370;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #0c3aa3;
}
